* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
}

body {
    background-color: darkcyan;

}

header {
    /* background-color:; */
    padding: 20px;
}

header h1 {
    color: palevioletred;
    text-align: center;
}

.scoreBoard {
    position: relative;
    border: 3px solid lightgoldenrodyellow;
    border-radius: 20px;
    margin: 20px auto;
    padding: 15px 20px;
    color: turquoise;
    text-align: center;
    font-size: 40px;
}

.label, .computer {
    display: inline-block;
    position: absolute;
    background-color: palevioletred;
    color: turquoise;
    font-size: medium;
    padding: 4px 10px;
}
 
#player-label {
    margin-left: 55px;
    position: absolute;
    top: -10px;
    left: 25px;
}

#comp-label {
    margin-right: 55px;
    position: absolute;
    top: -10px;
    right: 25px;
}

.outcome {
    font-size: 30px;
    color: turquoise;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.choices {
    text-align: center;
    margin-top: 50px 0;

}

.choice {
    display: inline-block;
    margin: 0 20px;   
}

.choice:hover {
    cursor: pointer;
    background-color: purple;
    border-radius: 50%;

}

#choice-message {
    font-size: 25px;
    color: palevioletred;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
}

p2 {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    font-size: xx-small;
    color: palevioletred;
}